<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand"><img src="E:\верстка\img\free_horizontal_on_white_by_logaster.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="">Home</a></li>
        <li class="nav-item">
          <a href="">About Us</a></li>


      </ul>
    </div>
  </div>
</nav>
