
<div ><h1 class="font1" align="center"> <br><br><br><br>Welcome to the Project Management System.</h1><br><br><br><h2> Please Login to continue</h2>
      <button (click)="openModal(template)" class="btn btn-info  btn-center" data-toggle="modal" data-target="#LoginA" type="button">Login</button>
     <ng-template #template>
       <div class="modal-header">
         <h4 class="modal-title">Login</h4>
         <button (click)="closeModal()" class="close" data-dismiss="modal">x</button>

       </div>   <div class="modal-body">
         <form role="form">
           <div class="form-group">
             <label >Email</label>
             <input type="email" class="form-control" id="email">
             <label for="password">Password</label>
             <input type="password" class="form-control" id="password">
           </div>
         </form>
       </div>
       <div class="modal-footer"><button class="btn btn-access" routerLink="/welcome-page" (click)="closeModal()">OK</button>
       </div>
     </ng-template>

</div>
