
<div class="container-fluid">
  <div class="row jumbotron">
    <div class=" col-12">
      <button class="btn btn-info  btn-center" data-toggle="modal" data-target="#LoginA" type="button">Login as Admin</button>
      <div id="LoginA" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Login as Admin</h4>
              <button class="close" data-dismiss="modal">x</button>

            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label >Email</label>
                  <input type="email"  class="form-control" id="email">
                  <label >Password</label>
                  <input type="password" class="form-control" id="password">
                </div>
              </form>
            </div>
            <div class="modal-footer"><button class="btn btn-access">OK</button>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-info  btn-center" data-toggle="modal" data-target="#LoginU" type="button">Login as User</button>
      <div id="LoginU" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Login as User</h4>
              <button class="close" data-dismiss="modal">x</button>

            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label >Email
                  <input type="email"  class="form-control" id="email"></label>
                  <label >Password</label>
                  <input type="password" class="form-control" id="password">
                </div>
              </form>
            </div>
            <div class="modal-footer"><button class="btn btn-access">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div></div></div>
