<button  (click)="openModal(NewTask)" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#NewTask" type="button">New Task</button>
<ng-template #NewTask>


  <div class="modal-header">
    <h4 class="modal-title">New Task</h4>
    <button (click)="closeModal()" class="close" data-dismiss="modal">x</button>

  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
        <label >Task Code</label>
        <input type="text"  class="form-control" >
        <label >Name</label>
        <input type="text"  class="form-control" >

        <label >Project Code</label>
        <select  class="form-control">
          <option [value]="projectCode.projectId" *ngFor="let projectCode of taskProjectCode">{{projectCode.projectCode}}</option>
        </select>

        <label >Priority</label>
        <select  class="form-control">
          <option [value]="priority.priorityId" *ngFor="let priority of taskPriority">{{priority.priority}}</option>
        </select>

        <label >Due Date</label>
        <input type="date" class="form-control" id="Due">

        <label >Estimation (hours)</label>
        <input type="number" min="0"  class="form-control" id="Estimation">

        <label >Assignee</label>
        <select  class="form-control">
          <option [value]="userName.userId" *ngFor="let userName of userName"> {{userName.name+" "+userName.surname}}</option>
        </select>

        <label >Description</label>
        <input type="text" class="form-control" id="Description">

      </div>
    </form>
  </div>
  <div class="modal-footer"><button class="btn btn-access">OK</button>

  </div></ng-template>
