  <div class="jumbotron">
    <div class="container-fluid">
      <button class="btn btn-info "  type="button">Edit</button>
      <button class="btn btn-info "  type="button">Assign</button>
      <button class="btn btn-info " type="button">Start</button>
      <button class="btn btn-info "   type="button">Resolve</button>
      <button class="btn btn-info "  type="button">Ready for test</button>
      <button class="btn btn-info "   type="button">ReOpen</button>
      <button class="btn btn-info "   type="button">Close</button>
          </div>

  </div>




<div class="container-fluid">
  <div class="row ">
    <div class="col-md-6">
  <h5>Details: </h5>
      <br>
  <p >Priority:</p>


  <p>Status:</p>
    </div>
  <div class="col-md-6">
<br><br>
    <div class="text-body">
  <p >Assignee</p>

  <p >Reporter</p>


  <p>Estimation</p>
    </div>

</div>
    <div class="col-md-6">
    <h5>Description: </h5>
    <textarea  name="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum./textarea>

    </div>
    <div class="col-md-6">
      <div class="text-body">
        <br><br>
        <p >Created:</p>
              <p >Updated</p>
      <p>Resolved</p>
      <p>Closed:</p>
      </div></div>
    <h5>Attachment: </h5>
    <textarea  name="Attachment">rtthdhhd</textarea>
   <br> <h5>Comments: </h5>
   <textarea cols="70" name="Comments"></textarea>
      <button type="button" class="btn btn-success" >Add comment </button>

  </div></div>






















