<div class="container-fluid">
  <div class="row jumbotron">
    <div class=" col-12">
      <button class="btn btn-info " data-toggle="modal" data-target="#NewUser" type="button">New User</button>
      <div id="NewUser" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">New User</h4>
              <button class="close" data-dismiss="modal">x</button>

            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label >Personal Data</label>
                  <input type="text"  class="form-control" id="Data">
                  <label >User Role</label>
                  <select class="form-control">
                    <option> Project Manager</option>
                    <option> Developer</option>
                    <option> Tester</option>

                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer"><button class="btn btn-access">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div></div></div>

<div class="container-fluid">
  <div class="row text-center alert">

    <table class="table table-bordered table-hover" >
      <thead>
      <tr class="active">
        <th>Personal Data</th>
        <th>User Role</th>

      </tr>
      </thead>
      <tbody id="Table">
      <tr>
        <td>Lorem ipsum dolor sit amet.</td>
        <td>Developer</td>


      </tr>
      <tr>

      </tr>
      <tr>
      </tr>
      </tbody>>
    </table>
  </div>
</div>
