
  <button  (click)="openModal(templateNP)"  class="btn btn-outline-primary btn-block "  data-toggle="modal" data-target="#NewProject" type="button">New Project</button>

<ng-template #templateNP>
  <div class="modal-header">
    <h4 class="modal-title">New Project</h4>
    <button (click)="closeModal()" class="close" data-dismiss="modal">x</button>

  </div>
  <div class="modal-body">
    <form (submit)="saveNewProject()" role="form">
      <div class="form-group">
        <label >Code</label>
        <input type="text" name="code" [(ngModel)]="newProject.projectCode" class="form-control" id="code">
        <label >Name</label>
        <input type="text"  name="name" [(ngModel)]="newProject.projectName" class="form-control" id="pName" >
        <label >Summary</label>
        <input type="text" name="summary" [(ngModel)]="newProject.summary" class="form-control" id="summary">
      </div>
    </form>
  </div>
  <div class="modal-footer"><button (click)="saveNewProject()"  class="btn btn-access">OK</button>
  </div>


</ng-template>
